@import "./partials/reset";
@import "./partials/bootstrap_override";

header {
  nav {
    .logo {
      width: 120px;
      img {
        width: 100%;
      }
    }
    .user {
      width: 40px;
      img {
        width: 100%;
      }
    }
  }
}

.btn:focus {
  border: none;
}

.sorter {
  i {
    border-color: gray !important;
    color: gray !important;
    cursor: pointer;
    &:hover {
      color: rgb(210, 210, 210) !important;
      border-color: rgb(210, 210, 210) !important;
      font-size: 1.15em;
    }
  }
  .active {
    color: white !important;
    border-color: white !important;
    font-size: 1.1em;
  }
}

.carousel-inner:hover {
  overflow: visible;
}

.col-2 {
  transition: transform 0.3s;
  &:hover {
    transform: scale(120%);
    cursor: pointer;
    z-index: 2;
  }
}
